<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Page.css') }}" >
    <script>
    let index = new Audio("static/sounds/index.mp3");
    index.play()
    </script>
</head>
<body class ='dead2' >


<div class="container">
    <div class="vertical-center3">
        <form action="/">
            <button style="color:red" type="submit" class = "finito3" type="submit">KILL MORE</button>
        </form>
    </div>
</div>


</body>
</html>